Dockerfile
docker-compose.yml
.env
.env.local
.env.*.local
.git
.gitignore
.idea
.vscode
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.DS_Store
*.log
.prettierignore
NOTE.md
media/
.pytest_cache
.coverage
htmlcov/
