DB_NAME=QL_tour
DB_USER=postgres
DB_PASSWORD=<Mật khẩu của bạn ở đây>
DB_HOST=db          
DB_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=<Mật khẩu của bạn ở đây>

